version: "3.8"
services:
  app:
    build: .
    image: redpitaya-acq:latest
    container_name: redpitaya-acq
    env_file:
      - .env
    environment:
      - DISPLAY=host.docker.internal:0.0
      - LIBGL_ALWAYS_INDIRECT=1
    volumes:
      - ./Data:/app/Data
      - ./Merged:/app/Merged
      - ./Archive:/app/Archive
      - ./:/app     # removed :ro so app can write presets.json and other files
    restart: "no"